#! /usr/bin/env python3
# Example for log processing
# Calculate throughput based on log file

import pickle
import pandas as pd

class DataProcessor:
    def __init__(self, filename):
        self.filename = filename
        self.total_time = []
        self.time_per_tokens = []
        self.num_tokens = []
        self.latency = []
        self.request_time = []

    def load_data(self):
        with open(self.filename, 'rb') as file:
            pickled_data = pickle.load(file)
            while pickled_data['type'] != "exit":
                if pickled_data['type'] == 'record':
                    self.extract_record(pickled_data['data'])
                pickled_data = pickle.load(file)

    def extract_record(self, data):
        s = pd.Series(data['ts_token'])
        tpt = s.diff().mean(skipna=True)

        total_char = sum(len(token) for token in data['tokens'])
        self.num_tokens.append(total_char)
        self.time_per_tokens.append(tpt)
        self.total_time.append(s.tail(1).iloc[0])
        self.latency.append(s.iloc[0])
        self.request_time.append(data['time'])

    def create_dataframe(self):
        df = pd.DataFrame({
            'Total Time': self.total_time,
            'Time per Token': self.time_per_tokens,
            'Num Tokens': self.num_tokens,
            'Latency': self.latency,
            'Request Time': self.request_time
        })
        return df

    def analyze_data(self, df):
        df_sorted = df.sort_values(by='Request Time')
        middle_start = int(0.25 * len(df_sorted))
        middle_end = int(0.75 * len(df_sorted))
        middle_df = df_sorted.iloc[middle_start:middle_end]
        
        start_time = middle_df['Request Time'].iloc[0]
        end_time = middle_df['Request Time'].tail(1).iloc[0]
        duration = (end_time - start_time).total_seconds() + middle_df['Total Time'].tail(1).iloc[0]

        sum_num_tokens = middle_df['Num Tokens'].sum()

        throughput = sum_num_tokens / duration
        return throughput

if __name__ == '__main__':
    filename = 'pwd/logfile'
    data_processor = DataProcessor(filename)
    data_processor.load_data()
    data_frame = data_processor.create_dataframe()
    throughput = data_processor.analyze_data(data_frame)
    print("Throughput:", throughput)
