# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !).

# VCS
.git/
.gitignore

# CI/CD
.github/
.gitlab-ci.yml

# Docs
*.md
docs/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Test files
tests/
